<div *ngIf="_isShow" ngResizable ngDraggable [handle]="DragHandle" [rzHandles]="'se'" [position]="position"
  class="draggable-content" (endOffset)="onMoveEnd($event)" (rzStop)="onResizeStop($event)"
  [style.width]="currSize.width + 'px'" [style.height]="currSize.height + 'px'">
  <div #DragHandle style="cursor: move;">
    <div class="center-txt mat-card-title p5">Object Properties</div>
    <div>
      <button mat-button class="close" aria-label="Close" (click)="closeClicked()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div class="p5">
    <span *ngFor="let k of keys">{{k}}</span>
    <span *ngFor="let v of values">{{v}}</span>
  </div>
</div>