<div *ngIf="_isShow" ngResizable ngDraggable [handle]="DragHandle" [rzHandles]="'se'" [position]="position"
  class="draggable-content" (endOffset)="onMoveEnd($event)" (rzStop)="onResizeStop($event)"
  [style.width]="currSize.width + 'px'" [style.height]="currSize.height + 'px'">
  <div #DragHandle style="cursor: move;">
    <div class="center-txt mat-card-title p5">Run Interpretted Tiger Graph Query</div>
    <div>
      <button mat-button class="close" aria-label="Close" (click)="closeClicked()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div class="p5">
    <div>
      <mat-form-field>
        <input matInput [(ngModel)]="currQueryName">
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Autosize textarea</mat-label>
        <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" [(ngModel)]="gsql">
        </textarea>
      </mat-form-field>
    </div>
    <div class="center-txt">
      <button mat-button (click)="runQuery()">
        save query
      </button>
      <button mat-button (click)="runQuery()">
        run query
      </button>
      
    </div>

  </div>
</div>