<h1 mat-dialog-title>Settings</h1>
<mat-dialog-content>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Tiger Graph Database Connection
        </mat-panel-title>
        <mat-panel-description>
          Connect to a tiger graph REST API
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form>
        <mat-form-field class="full-width">
          <mat-label>Database URL</mat-label>
          <input matInput [(ngModel)]="dbConf.url" name="url">
        </mat-form-field>
        <br>
        <mat-form-field class="full-width">
          <mat-label>Database secret</mat-label>
          <input matInput [(ngModel)]="dbConf.secret" name="secret">
        </mat-form-field>
        <br>
        <mat-form-field class="full-width">
          <mat-label>Token</mat-label>
          <input matInput [(ngModel)]="dbConf.token" name="token">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Token expire</mat-label>
          <input matInput [(ngModel)]="dbConf.tokenExpire" name="tokenExpire">
        </mat-form-field>
        <span>&nbsp;{{tokenExpireDateStr}}&nbsp;</span>
        <button class="p5" mat-icon-button (click)="refreshDbToken()">
          <mat-icon>sync</mat-icon>
        </button>
        <br>
        <mat-form-field>
          <mat-label>Database username</mat-label>
          <input matInput [(ngModel)]="dbConf.username" name="username">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Database password</mat-label>
          <input matInput type="password" [(ngModel)]="dbConf.password" name="password">
        </mat-form-field>
      </form>

      <button class="p5" mat-icon-button [mat-dialog-close]="true" (click)="saveDbConfig()">
        <mat-icon>save</mat-icon>
      </button>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          General
        </mat-panel-title>
        <mat-panel-description>
          Settings about visualization
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form class="full-width">
        <!-- highlight style -->
        <mat-card>
          <mat-card-title>Hightlight Style:</mat-card-title>
          <mat-card-content>
            <mat-form-field>
              <mat-label>Selected style</mat-label>
              <mat-select [(value)]="currHighlightIdx" (selectionChange)="changeCurrHiglightStyle()">
                <mat-option *ngFor="let style of appConf.highlightStyles; let i = index" [value]="i">
                  {{style.name.getValue()}}
                </mat-option>
              </mat-select>
            </mat-form-field>&nbsp;
            <br>
            <mat-form-field>
              <mat-label>name</mat-label>
              <input matInput type="text" [(ngModel)]="currHighlightStyle.name" name="curr-highlight-style-name">
            </mat-form-field>&nbsp;
            <mat-form-field>
              <mat-label>width</mat-label>
              <input matInput type="number" [(ngModel)]="currHighlightStyle.wid" name="curr-highlight-style-wid">
            </mat-form-field>&nbsp;
            <mat-form-field>
              <mat-label>color</mat-label>
              <input matInput type="color" [(ngModel)]="currHighlightStyle.color" name="curr-highlight-style-color">
            </mat-form-field>
            <br>
            <button class="p5" title="update" mat-icon-button (click)="changeHighlightStyle()">
              <mat-icon>save</mat-icon>
            </button>
            <button class="p5" mat-icon-button (click)="deleteHighlightStyle()">
              <mat-icon>delete</mat-icon>
            </button>
            <button class="p5" mat-icon-button (click)="addHighlightStyle()">
              <mat-icon>add</mat-icon>
            </button>
          </mat-card-content>

          <mat-checkbox [(ngModel)]="isIgnoreCaseInText" (change)="changeConfig('isIgnoreCaseInText')"
            name="is-ignore-case-in-text">Ignore case in text operations
          </mat-checkbox>
          <br>
          <mat-form-field class="full-width">
            <mat-label>Node count to load from each type in sample data</mat-label>
            <input matInput type="number" (change)="changeConfig('sampleDataNodeCount')" name="sample-data-edge-count"
              [(ngModel)]="sampleDataNodeCount">
          </mat-form-field>
          <br>
          <mat-form-field class="full-width">
            <mat-label>Edge count to load from each type in sample data</mat-label>
            <input matInput type="number" (change)="changeConfig('sampleDataEdgeCount')" name="sample-data-node-count"
              [(ngModel)]="sampleDataEdgeCount">
          </mat-form-field>

        </mat-card>
      </form>
    </mat-expansion-panel>
    <br>
  </mat-accordion>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>