<input #fileInp type="file" (change)="fileSelected()" accept="text/*, .json, .vall" style="display: none;" />

<div class="root">

  <app-draggable-div [isShow]="isShowDatabaseQuery" [header]="'Run GSQL'" [component]="dbQueryComp">
  </app-draggable-div>
  <app-draggable-div [isShow]="isShowObjectProperties" [header]="objPropHeader" [component]="objPropComp">
  </app-draggable-div>
  <app-draggable-div [isShow]="isShowTableView" [header]="tableHeader" [component]="tableComp">
  </app-draggable-div>
  <app-draggable-div [isShow]="isShowGraphHistory" [header]="'Graph History'" [component]="graphHistoryComp">
  </app-draggable-div>

  <mat-toolbar>
    <span>Davraz</span>
    <button mat-button [matMenuTriggerFor]="file">File<mat-icon>arrow_drop_down</mat-icon></button>
    <mat-menu #file="matMenu">
      <button (click)="loadGraphFromFile()" mat-menu-item>Load</button>
      <button (click)="saveGraph2File()" mat-menu-item>Save</button>
      <button (click)="saveSelected2File()" mat-menu-item>Save Selected</button>
      <button (click)="saveAsPng()" mat-menu-item>Save as PNG</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="edit">Edit<mat-icon>arrow_drop_down</mat-icon></button>
    <mat-menu #edit="matMenu">
      <button (click)="deleteSelected()" mat-menu-item>Delete Selected</button>
      <button (click)="deleteUnselected()" mat-menu-item>Delete Unselected</button>
      <button (click)="hideSelected()" mat-menu-item>Hide Selected</button>
      <button (click)="hideUnselected()" mat-menu-item>Hide Unselected</button>
      <button (click)="showAll()" mat-menu-item>Show All</button>
      <button (click)="showGraphHistory()" mat-menu-item>Show Graph History</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="data">Data<mat-icon>arrow_drop_down</mat-icon></button>
    <mat-menu #data="matMenu">
      <button (click)="clearData()" mat-menu-item>Clear data</button>
      <button (click)="loadSampleData()" mat-menu-item>Sample data</button>
      <button (click)="endPoints()" mat-menu-item>Endpoints</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="layout">Layout<mat-icon>arrow_drop_down</mat-icon></button>
    <mat-menu #layout="matMenu">
      <button (click)="randomizedLayout()" mat-menu-item>Randomized layout</button>
      <button (click)="incrementalLayout()" mat-menu-item>Incremental layout</button>
      <button mat-menu-item [matMenuTriggerFor]="layoutAlgoMenu">
        All algorithms
      </button>
      <mat-menu #layoutAlgoMenu="matMenu">
        <button *ngFor="let l of layoutAlgos" (click)="runLayoutAlgo(l)" mat-menu-item>
          {{l}}
        </button>
      </mat-menu>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="highlight">Highlight<mat-icon>arrow_drop_down</mat-icon></button>
    <mat-menu #highlight="matMenu">
      <button (click)="highlightSelected()" mat-menu-item>Selected</button>
      <button (click)="highlightUnselected()" mat-menu-item>Unselected</button>
      <button (click)="searchAndHighlight()" mat-menu-item>Search</button>
      <button (click)="removeHighlight4Selected()" mat-menu-item>Remove highlight for selected</button>
      <button (click)="removeHighlight4Unselected()" mat-menu-item>Remove highlight for unselected</button>
      <button (click)="removeHighlights()" mat-menu-item>Remove highlights</button>
    </mat-menu>

    <mat-form-field appearance="standard" *ngIf="isShowSearchInp">
      <input #searchInp matInput type="text" [(ngModel)]="searchTxt" placeholder="Search text...">
      <span matSuffix>
        <button mat-icon-button style="display: inline;" (click)="highlight4txt()">
          <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button style="display: inline;" (click)="isShowSearchInp=false">
          <mat-icon>close</mat-icon>
        </button>
      </span>
    </mat-form-field>

    <button mat-button [matMenuTriggerFor]="compound">Compound<mat-icon>arrow_drop_down</mat-icon></button>
    <mat-menu #compound="matMenu">
      <button (click)="addCompound4Selected()" mat-menu-item>Add compound node for selected nodes</button>
      <button (click)="removeCompound4Selected()" mat-menu-item>Remove selected compound node </button>
      <button (click)="removeCompoundNodes()" mat-menu-item>Remove all compound nodes </button>
      <button (click)="collapseCompoundNodes()" mat-menu-item>Collapse all compound nodes </button>
      <button (click)="collapseCompoundEdges()" mat-menu-item>Collapse all compound edges </button>
      <button (click)="expandCompoundNodes()" mat-menu-item>Expand all compound nodes </button>
      <button (click)="expandCompoundEdges()" mat-menu-item>Expand all compound edges </button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="tableView">Table<mat-icon>arrow_drop_down</mat-icon></button>
    <mat-menu #tableView="matMenu">
      <button (click)="showSelectedAsTable()" mat-menu-item>Show selected as table</button>
      <button (click)="showUnselectedAsTable()" mat-menu-item>Show unselected as table</button>
      <button (click)="showAsTable(null)" mat-menu-item>Show all as table</button>
      <button *ngIf="existingTypes && existingTypes.length > 0" mat-menu-item [matMenuTriggerFor]="typesOfObjs">
        Show all from type as table
      </button>
      <mat-menu #typesOfObjs="matMenu">
        <button *ngFor="let t of existingTypes" (click)="showTypeOfObjAsTable(t)" mat-menu-item>
          {{t}}
        </button>
      </mat-menu>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="cluster">Cluster<mat-icon>arrow_drop_down</mat-icon></button>
    <mat-menu #cluster="matMenu">
      <button (click)="markovClustering()" mat-menu-item>Markov Clustering</button>
      <button (click)="degree1Clustering()" mat-menu-item>Cluster degree-1 nodes</button>
    </mat-menu>

    <button mat-icon-button (click)="showDbQuery()" title="Interpretted GSQL Query">
      <mat-icon>code</mat-icon>
    </button>
    <button mat-icon-button (click)="openDbConfigDialog()" title="Settings">
      <mat-icon>settings</mat-icon>
    </button>

  </mat-toolbar>

  <div class="container">
    <div id="cy">
    </div>
  </div>
  <div *ngIf="isLoading" class="spinner-container">
    <mat-spinner [diameter]="500"></mat-spinner>
  </div>

  <!-- <app-table-view></app-table-view> -->


</div>