/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.draggable-content {
  z-index: 1001 !important;
  position: absolute;
  background: rgba(255, 255, 255, 0.90);
  white-space: pre-wrap;
  border: 2px solid #555555;
  border-radius: 5px;
  overflow: hidden;
  min-width: 150px;
  min-height: 600px;
  top: 0;
  left: 0;
}

button.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  line-height: 14px;
  min-width: auto;
}

.center-txt {
  text-align: center;
}

.p5 {
  padding: 5px;
}

.full-width {
  width: 100%;
}

.gray1 {
  background: #F0F2F4;
}

.draggable-mover {
  cursor: move;
  z-index: 1002;
}

app-db-query {
  position: absolute;
  top: 0;
  left: 0;
}

app-object-properties {
  position: absolute;
  top: 0;
  left: 0;
}

.ctx-menu-container {
  padding: .5rem 0 !important;
  margin: .125rem 0 0 !important;
  border: 1px solid rgba(0, 0, 0, .15) !important;
  background-color: #ffffff !important;
  border-radius: .25rem !important;
  z-index: 1003;
}