.gray1 {
  background: #f0f2f4;
}

app-draggable-div {
  position: absolute;
  top: 0;
  left: 0;
}

.draggable-content {
  z-index: 1001;
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  white-space: pre-wrap;
  border: 2px double #f0f2f4;
  border-radius: 5px;
  overflow: hidden;
  resize: both;
  min-width: 5vw;
  min-height: 40px;
  top: 0;
  left: 0;
}

.draggable-content:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

span.top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.drag-handle {
  cursor: grab;
}

.drag-handle:active {
  cursor: grabbing;
}