<div #mainElem *ngIf="_isShow" ngResizable [rzHandles]="'se'" class="draggable-content mat-elevation-z8"
  (rzStop)="onResizeStop($event)" [style.width]="currSize.width + 'px'" [style.height]="currSize.height + 'px'"
  [style.top]="position.top" [style.left]="position.left">
  <div #moverElem style="cursor: move;" class="gray1 p5">
    <div class="center-txt mat-card-title p5">{{header}}</div>
    <div>
      <button mat-button class="close" aria-label="Close" (click)="closeClicked()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div class="p5">
    <ng-container *ngComponentOutlet="component"></ng-container>
  </div>
</div>